.news-card {
  max-width: 400px;
  max-height: 576px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 0 rgba(8, 29, 45, 0.1);
  margin-bottom: 208px;
}

.news-card__image {
  max-width: 100%;
  max-height: 272px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.news-card__main {
  margin-top: 20px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.news-card__date {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}

.news-card__title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
}

.news-card__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
}

.news-card__source {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}
