.hero {
    min-height: 576px;
    background-image: url(../../images/hero.png);
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .hero {
        max-height: 400px;
    }
}