.popup {
    align-items: center;
    background-color: #00000080;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: visibility 0s linear .5s,opacity .5s linear;
    width: 100%;
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s, opacity 0.7s; */
  }
  
  .popup_opened {
    transition: visibility 0.7s, opacity 0.7s;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
  }
  
  .popup__content {
    max-width: 430px;
    height: 380px;
    width: 100%;
    position: relative;
    cursor: default;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 34px 35px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    color: #000;
  }
  
  .popup__header {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #1a1b22;
    margin: 0 0 22px;
    padding-bottom: 54px;
  }

  .popup__label {
    display: block;
    color: #2F71E5;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 1.2;
    /* margin-bottom: 9px; */
  }
  
  .popup__submit {
    padding: 20px 60px;
    text-align: center;
    background: #e6e8eb;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    border-radius: 100px;
    border: 1px solid #fff;
    cursor: pointer;
    width: 100%;
    height: 64px;
    color: #b6bcbf;
   
  }
  
  .popup__submit:hover {
    background-color: #347EFF;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    transition: background-color 0.3s;
  }
  
  .popup__close-button {
    background: url(../../images/close_icon.svg) no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
  }

  .popup__form {
    display: inline;
  }
  
  .popup__subtitle {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin: 16px 0 0;
  }
  
  .popup__link {
    color: #2F71E5;
    text-decoration: none;
  }
  

  .popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    padding: 9px 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 39px;
    width: 100%;
    outline: none;
    background-color: white;
  }
  
  ::placeholder {
    color: #000;
    opacity: 0.2;
  }