.form {
    display: inline;
  }

  .form__label {
    display: block;
    color: #2F71E5;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 1.2;
  }

  .form__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0.2;
    padding: 9px 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 39px;
    width: 100%;
    outline: none;
    background-color: white;
  }
  
  ::placeholder {
    color: #000;
    opacity: 0.2;
  }
  

  .form__submit {
    padding: 20px 60px;
    text-align: center;
    background: #e6e8eb;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;
    border-radius: 100px;
    border: 1px solid #fff;
    cursor: pointer;
    width: 100%;
    height: 64px;
    color: #b6bcbf;
  }

  .form__submit_disable {
    background-color: #e6e8eb;
    color: #b6bcbf;
    box-shadow: none;
    cursor: default;
  }

  .form__submit:hover {
    background-color: #347EFF;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    transition: background-color 0.3s;
  }

  .form__submit_disable:hover {
    background-color: #e6e8eb;
  }

  .form__link {
    color: #2F71E5;
    text-decoration: none;
  }

  .form__subtitle {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    margin: 16px 0 0;
  }