.saved-header {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  /* padding: 0 5%; */
  /* height: 80px; */
  /* color: #1a1b22; */
  /* border-bottom: #1a1b22 1px solid; */
  /* padding: 0 0 0 104px; */
}

.saved-header__title {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

/* .saved-header__nav {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  height: 100%;
  color: #1a1b22;
} */

.saved-header__text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  /* padding: 0 5% 5% 5%; */
  padding: 19px 104px 14px;
}

.saved-header__description {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}


.saved-header__keywords {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}


.saved-header__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.saved-header__button-nav {
  margin-right: 50px;
  height: 100%;
  color: #1a1b22;
  text-align: center;
}

.saved-header__signin-button {
    border: #1a1b22 1px solid;
    width: 180px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
}

.saved-header__button_active {
    border-bottom: #1a1b22 3px solid;
}

a {
  color: transparent;
  text-decoration: none;
}
