.saved-news {
  display: flex;
  flex-direction: column;
}

.saved-news__articles {
  background: #f5f6f7;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 16px;
  padding: 62px 102px 62px 102px;
  min-height: 576px;
}

@media screen and (max-width: 768px) {
  .saved-news__articles {
    padding: 32px 40px;
    gap: 8px;

  }
}

@media screen and (max-width: 320px) {
  .saved-news__articles {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
    padding: 32px 16px;
    padding-bottom: 13px;
  }
}

