.about__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 0 auto;
  justify-content: center;
  background-color: #ffffff;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  margin-left: 104px;
  margin-top: 80px;
  margin-bottom: 80px;
  object-fit: cover;
}

.about__content {
  margin-left: 56px;
  margin-top: 131px;
}
.about__title {
  font-family: "Roboto Slab", 'Times New Roman', sans-serif;
  color: #1a1b22;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}

.about__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin-top: 5px;
  padding: 0;
  margin-top: 24px;
  margin-right: 216px;
  max-width: 600px;
}



@media screen and (max-width: 960px) {
  .about__container {
    padding: 0;
  }

  .about__image {
    max-width: 230px;
    max-height: 230px;
    margin: 61px 0 0 40px;
  }

  .about__content {
    margin: 16px 40px 96px 32px;
  }

  .about__title {
    font-size: 30px;
  }

  .about__text {
   margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .about__container {
    padding: 32px 0 128px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  .about__image {
    margin: 0 auto;
  }

  .about__content {
    margin: 16px 40px 0 32px;
  }
}

@media screen and (max-width: 320px) {
  .about__container {
    padding: 32px 0 128px 0;
    margin: 0;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  
 .about__image {
  max-height: 272px;
  max-width: 272px;
  margin: 0 24px;
 }

 .about__text {
  margin: 0;
 }

 .about__content {
  margin: 0 16px;
 }
}
  