.navbar {
  padding: 19px 104px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
}

.navbar__logo {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  padding-bottom: 6px;
}

.navbar__logo_saved {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  margin: 0;
  padding-bottom: 6px;
}

.navbar__links {
  display: flex;
  align-items: center;
  column-gap: 42px;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  z-index: 4;
}

.navbar__link_active {
  text-decoration: underline;
  text-underline-offset: 31px;
  text-decoration-thickness: 3px;
}

.navbar__link_saved {
  color: #000;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

.navbar__link_saved_active {
  text-decoration: underline;
  text-underline-offset: 31px;
  text-decoration-thickness: 3px;
}

.navbar__header-button {
  padding: 12px 60px;
  background: none;
  color: #fff;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 1000px;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 3;
}

.navbar__header-button_saved {
  border-color: #000;
  color: #000;
}

.navbar__header-button_logout {
  display: flex;
  column-gap: 15px;
  padding: 12px 15px 12px 19px;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 14px 40px 15px;
  }

  .navbar__link {
    font-size: 16px;
    line-height: 1.5;
  }

  .navbar__header-button {
    padding: 10px 60px 10px;
  }

}

@media screen and (max-width: 720px) {
  .navbar {
    display: none;
  }
}
