.navbar {
  padding: 19px 104px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
}

.navbar__logo {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  margin: 0;
  padding-bottom: 6px;
}

.navbar__logo_saved {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  margin: 0;
  padding-bottom: 6px;
}

.navbar__links {
  display: flex;
  align-items: center;
  column-gap: 42px;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

.navbar__link_active {
  text-decoration: underline;
  text-underline-offset: 31px;
  text-decoration-thickness: 3px;
}

.navbar__link_saved {
  color: #000;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

.navbar__link_saved_active {
  text-decoration: underline;
  text-underline-offset: 31px;
  text-decoration-thickness: 3px;
}

.navbar__header-button {
  padding: 12px 60px;
  background: none;
  color: #fff;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 1000px;
  border: 1px solid #fff;
  cursor: pointer;
}

.navbar__header-button_saved {
  border-color: #000;
  color: #000;
}

.navbar__header-button_logout {
  display: flex;
  column-gap: 15px;
  padding: 12px 15px 12px 19px;
}

.navbar__logout-button {
  padding: 12px 60px;
  background: none;
  color: #fff;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 1000px;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  column-gap: 15px;
}

.navbar__mobile-menu {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 14px 40px 10px;
  }

  .navbar__link {
    font-size: 16px;
    line-height: 1.5;
  }

  .navbar__link_active {
    text-underline-offset: 27px;
  }

  .navbar__header-button {
    padding: 10px 60px 10px;
  }

  .navbar__mobile-menu {
    display: none;
    visibility: visible;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 16px 16px 16px 0;
    position: relative;
  }

  .navbar__logo {
    padding-left: 16px;
  }

  .navbar__link {
    font-size: 18px;
  }

  .navbar__links {
    display: none;
    visibility: hidden;
  }

  .navbar__link_active {
    background-color: #000;
    width: calc(100% - 32px);
    padding: 32px 16px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .navbar__header-button {
    width: calc(100% - 24px);
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: center;
  }

  .navbar__mobile {
    position: absolute;
    top: 0;
    background-color: #000;
    width: 100%;
  }

  .navbar__top {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 16px 0;
  }

  .navbar__close-menu {
    background: none;
    background-image: url("../../images/burger_close.svg");
    background-size: 100%;
    border: none;
    width: 26px;
    height: 26px;
    padding: 0;
  }

  .navbar__mobile-menu {
    background: none;
    background-image: url("../../images/burger_menu_white.svg");
    display: block;
    visibility: visible;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
  }

  .navbar__mobile-menu_saved {
    background: none;
    background-image: url("../../images/burger_menu_black.svg");
  }
}
