.footer {
    font-family: "Roboto";
    padding: 30px 104px 26px 104px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.footer__navigation {
    display: flex;
    column-gap: 40px;
}

.footer__text {
    font-size: 16px;
    font-weight: 400px;
    text-align: left;
    color: #b6bcbf;
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
}

.footer__link_text {
    cursor: pointer;
    text-decoration: none;
    color: #1a1b22;
}

.footer__icon {
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 900px) {
    .footer {
        padding: 24px 40px 8px 40px;
    }

    .footer__navigation {
        column-gap: 24px;
      }

    .footer__links {
        gap: 15%;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column-reverse;
        padding: 20px 16px;
    }

    .footer__text {
        text-align: center;
        font-size: 15px;
    }

    .footer__links {
        justify-content: space-between;
        margin-bottom: 38px;
    }

    .footer__link_text {
        font-size: 18px;
    }
}

@media screen and (max-width: 680px) {
    .footer {
      display: grid;
      grid-template-areas: 
        "navigation"
        "copyright";
      justify-content: center;
      row-gap: 38px;
      padding: 20px 16px;
    }
  
    .footer__copyright {
      margin: 0 auto;
      grid-area: copyright;
    }
  
    .footer__navigation {
      grid-area: navigation;
    }
  }

  @media screen and (max-width: 350px) {
    .footer__navigation {
      justify-content: space-between;
    }
  
    .footer__links {
      flex-direction: column;
      row-gap: 33px;
    }
  }

  @media screen and (max-width: 320px) {
    .footer__copyright {
      font-size: 14px;
    }
  } 

  