.footer {
    font-family: "Roboto";
    padding: 30px 104px 0 104px;
    display: flex;
    justify-content: space-between;
}

.footer__text {
    font-size: 16px;
    font-weight: 400px;
    text-align: left;
    color: #b6bcbf;
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
}

.footer__link_text {
    cursor: pointer;
    text-decoration: none;
    color: #1a1b22;
}

.footer__icon {
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 800px) {
    .footer {
        padding: 24px 40px 8px 40px;
    }

    .footer__links {
        gap: 15%;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        flex-direction: column-reverse;
        padding: 20px 16px;
    }

    .footer__text {
        text-align: center;
        font-size: 15px;
    }

    .footer__links {
        justify-content: space-between;
        margin-bottom: 38px;
    }

    .footer__link_text {
        font-size: 18px;
    }
}