.news-card {
  max-height: 100%;
  width: 400px;
  cursor: pointer;
  position: relative;
}

.news-card__image {
  width: 400px;
  height: 272px;
  max-height: 272px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.news-card__save {
  background: url("../../images/bookmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  max-width: 40px;
  width: 100%;
  min-height: 40px;
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.news-card__save_saved {
  background: url("../../images/bookmark_blue.svg");
}

.news-card__save:hover {
  background: url("../../images/bookmark_hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.news-card__delete {
  background: url("../../images/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.news-card__label {
  position: absolute;
  top: 24px;
  right: 70px;
  margin: 0;
  background-color: #ffffff;
  border-radius: 10px;
  min-height: 40px;
  display: none;
  visibility: hidden;
}

.news-card__label_keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  align-items: center;
}

.news-card__label_text {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.news-card__label_visible {
  visibility: visible;
  display: flex;
  align-items: center;
}

.news-card__signin-text {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 13px 20px 11px 20px;
}

.news-card__main {
  padding: 0 24px;
  background-color: #ffffff;
  border-radius: 0 0 16px 16px;
  max-width: 400px;
  row-gap: 16px;
  display: grid;
  grid-template-rows: 54px 95px 173px 62px;
}

.news-card__date {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #b6bcbf;
}

.news-card__title {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  margin: 0;
}

.news-card__text {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  max-width: 352px;
  max-height: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.news-card__source {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .news-card {
    width: 224px;
  }

  .news-card__main {
    max-width: 224px;
    height: 420px;
  }

  .news-card__text {
    -webkit-line-clamp: 5;
  }

  .news-card__image {
    width: 224px;
    max-height: 150px;
  }

  .news-card__title {
    font-size: 22px;
  }

  .news-card__source {
    max-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 320px) {
.news-card {
  min-width: 288px;
  grid-template-rows: 54px 95px 170px 50px;
}

.news-card__main {
 margin: 0;
}

.news-card__image {
  min-width: 288px;
}

.news-card__main {
min-width: 240px;
}

.news-card__text {
  -webkit-line-clamp: 4;
  max-width: 288px;
}

.news-card__source {
  overflow: visible;
  display: block;
  letter-spacing: 0;
}

.news-card__save {
  top: 16px;
  right: 16px;
}
}
